*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.input-data-header{
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-data-body{
    width: 50%;
    padding: 25px;
    background-color: white;
    border: 1px solid blue;
}
.btn-submit{
    font-size: 20px;
    
    text-transform: uppercase;
}
.profile-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.search-header{
   width: 40%;
   
   
}
@media screen and (max-width:750px) {
    .input-data-header{
        height: 100%;
    }
    .input-data-body{
        width: 98%;
    }
    .search-header{
        width: 60%;
    }
}